<!-- sidebar.html -->
<aside class="bg-light border-end" style="width: 250px; min-height: 100vh;">
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action">Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action">Products</a>
        <a href="#" class="list-group-item list-group-item-action">Orders</a>
        <a href="#" class="list-group-item list-group-item-action">Profile</a>
        <!-- Add more sidebar items as needed -->
    </div>
</aside>
